<div class="d-flex" style="height: 100vh;">
    <!-- Left Navigation -->
    <nav class="bg-light border-right" style="width: 20%;">
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action"
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
        >
          Home
        </a>
        <a
          class="list-group-item list-group-item-action"
          routerLink="/map"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
        >
          Map Selector
        </a>
      </div>
    </nav>
  
    <!-- Main Content -->
    <div class="flex-grow-1 p-3" style="width: 80%;">
      <router-outlet></router-outlet>
    </div>
  </div>
  